<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Flask</title>
</head>
<body>
    <div>
        <h1>Sou uma página de teste</h1>
        <input type="text">
        <button type="submit">inserir</button>
        <a href="./confirmation">Confirmation</a>        
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Quis tenetur excepturi totam beatae suscipit nostrum odio soluta eos illo nemo eligendi labore quas neque molestiae repellendus, nam doloremque fugit dicta.</p>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <input type="text" name="username"/>
        <input type="submit" value="Login" />
    </form>
</body>
</html>